@font-face{
    font-family: bold;
    src: url(./Montserrat/static/Montserrat-Bold.ttf);
}
@font-face{
    font-family: bolder;
    src: url(./Montserrat/static/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family: light;
    src: url(./Montserrat/static/Montserrat-Light.ttf);
}
@font-face{
    font-family: medium;
    src: url(./Montserrat/static/Montserrat-Medium.ttf);
}
@font-face{
    font-family: regular;
    src: url(./Montserrat/static/Montserrat-Black.ttf);
}